:root{
  --red: #f54e4e;
  --green: #4aec8c;
  --darkred: #982121;
  --darkgreen: #12813f;
  --blue: #3d48db;
  --darkblue: #20288a;
}


body{
  background-color: #454c5d;
  color: #eee;
}

main {
  padding: 120px;
  max-width: 340 px;
  margin: 0 auto;
  text-align: center
}

button {
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border: 0;
  display: inline-block;
  width: 90px;
  cursor: pointer;
}

button.with-text{
  width: auto;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 36px;
}

button.with-text svg{
  width: 36px;
  float: left;
  margin-right: 5px;
}

label{
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  text-transform: capitalize;
}
